.h2 {
  font-family: var(--bold-font), sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
  color: var(--main-color);
}

.p {
  font-family: var(--regular-font), sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--main-text-color);
  max-inline-size: 34ch;
}