.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  height: 5.6rem;
  color: var(--second-color);
  background-color: var(--main-color);
  font-family: var(--bold-font), sans-serif;
  font-weight: 700;
  cursor: pointer;

  &:focus-visible {
    outline: 0.3rem solid var(--error-color);
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);
      background-image: var(--hover-gradient);
    }
  }

  @media (hover: none) {
    &:active {
      box-shadow: 0 16px 32px 0 rgba(255, 97, 85, 0.5);
      background-image: var(--hover-gradient);
    }
  }
}