.main {
  display: grid;
  justify-content: center;
  background-color: var(--charcoal-grey);

  @media (min-width: 1000px) {
    & {
      min-block-size: 100dvh;
      place-items: center;
    }
  }
}